@use "global" as *;

/* ----- 下層ページのキャンペーンページ ----- */
.sub-campaign__inner{
  max-width: rem(600); //タブレット時の間延び防止用
}

.sub-campaign__tab-content{
  margin-top: rem(40);
  padding-inline: rem(32.5);

  @include mq(md){
    padding-inline: 0;
  }
}

.sub-campaign__pagenavi{
  margin-top: rem(80);
}