@use "global" as *;

/* ----- キャンペーンカード ----- */
.campaign-card{
  display: flex;
  flex-direction: column;
  height: auto;
}

.campaign-card__wrap{
  display: block;
  height: 100%;
  box-shadow: $card-shadow;
  display: flex;
  flex-direction: column;
}

.campaign-card__img img{
  aspect-ratio: 280 / 188;
  width: 100%;
  height: auto;
  object-fit: cover;

  @include mq(md){
    aspect-ratio: 333 / 223;
  }
}

.campaign-card__content{
  padding: rem(16) rem(16) rem(24);
  display: flex;
  flex-direction: column;
  height: 100%;

  @include mq(md){
    padding: rem(24) rem(16) rem(40);
  }
}

.campaign-card__content--sub{
  @include mq(md){
    padding: rem(24) rem(24) rem(42);
  }
}

.campaign-card__title{
  font-size: rem(16);
  font-weight: $medium;
  @include line-height(24,16);
  border-bottom: rem(1) solid $accent-green;
  padding-bottom: rem(7); //8
  margin-top: rem(5); //6
  flex-grow: 1; //価格下揃え用

  //1行を超えると三点リーダーで省略する場合はこちら
  // overflow: hidden;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 1;

  @include mq(md){
    margin-top: rem(4);
    padding-bottom: rem(6);
  }
}

.campaign-card__title--sub{
  @include mq(md){
    margin-top: rem(3);
    padding-bottom: rem(3);
    font-size: rem(24);
  }
}

.campaign-card__bottom{
  margin-top: auto; //価格下揃え用
}

.campaign-card__text{
  margin-top: rem(7.5);
  display: block;
  text-align: center;
  font-size: rem(14);
  @include line-height(24,14);

  @include mq(md){
    margin-top: rem(16);
    font-size: rem(16);
    @include line-height(24,16);
  }
}

.campaign-card__text--sub{
  @include mq(md){
    margin-top: rem(24);
  }
}

.campaign-card__price{
  margin-top: rem(8);
  display: flex;
  gap: rem(18);
  align-items: baseline;
  justify-content: center;
  font-weight: $bold;
  font-family: $second-en-font-family;
  line-height: 1;

  @include mq(md){
    gap: rem(24);
  }
}

.campaign-card__price--sub{
  @include mq(md){
    gap: rem(41);
  }
}

.campaign-card__original-price{
  font-size: rem(20);
  text-decoration: line-through;
  text-decoration-style:solid;
  text-decoration-thickness: rem(3);
  text-decoration-color: #C94800;

  @include mq(md){
    font-size: rem(24);
  }
}

.campaign-card__cut-price{
  font-size: rem(32);
  color: $accent-green;


  @include mq(md){
    font-size: rem(40);
  }
}

//下層キャンペーンカード追加項目：SP時に詳細を見るボタンで内容表示
.campaign-card__readmore {
  position: relative;
  padding: 0 0 rem(65);
  display: flex;
  flex-direction: column;
  height: 100%;

  @include mq(md){
    padding: 0;
    position: static;
  }
}

.campaign-card__readmore label {
  position: absolute;
  // display: block;
  left: 50%;
  bottom: 0;
  margin: 0 auto;
  width: rem(120);
  padding: rem(8);
  color: $white;
  text-align: center;
  border-radius: 5px;
  background-color: $main-green;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
}

.campaign-card__readmore label::before{
  content: '詳細を見る';
}

.campaign-card__readmore input[type="checkbox"]:checked ~ label::before {
  content: '元に戻す';
}

.campaign-card__readmore input[type="checkbox"]{
  display: none;
}

.campaign-card__readmore input[type="checkbox"]:checked ~ .campaign-card__sub-bottom {
  display: flex;
}

//下層キャンペーンカード追加項目
.campaign-card__sub-bottom {
  margin-top: rem(24);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  display: none;

  @include mq(md){
    display: flex;
  }
}

.campaign-card__description {
  font-size: rem(16);
  @include line-height(24,16);
  text-align: left;
  flex-grow: 1; //価格下揃え用
}

.campaign-card__period{
  font-size: rem(16);
  font-family: $second-en-font-family;
  font-weight: $bold;
  @include line-height(18,16);
  color: $accent-green;
  margin-top: auto; //価格下揃え用
}

.campaign-card__period time{
  margin-top: rem(32);
  display: inline-block;
}

.campaign-card__cta-text {
  margin-top: rem(8);
  font-size: rem(14);
  color: $accent-green;
}

.campaign-card__btn {
  margin-top: rem(15);
  display: inline-block;
}
