@use "global" as *;

/* ----- 共通CTAセクション ----- */
.cta__inner {
  max-width: rem(600); //タブレット時の間延び防止用
}

.cta__container{
  text-align: center;
  position: relative;

  @include mq(md){
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(78) 0;
    box-shadow: $cta-shadow;
  }
}

.cta__container::before {
  position: absolute;
  content: "";
  background: url(../images/common/fishes-left.svg) no-repeat;
  background-size: contain;
  aspect-ratio: 109 / 50;
  width: clamp(6.813rem, 2.587rem + 18.03vw, 18.813rem);
  max-width: 100%;
  height: auto;
  top: -4.2%;
  right: 0;
  display: inline-block;

  @include mq(md){
    aspect-ratio: 301 / 138;
    top: -9.5%;
    right: calc(50% - min(48vw, rem(670)));
  }
}

.cta__info {
  padding: 0 rem(25);

  @include mq(md){
    padding: 0;
    padding-right: calc(82 / 1080 * 100%);
    padding-left: calc(50 / 1080 * 100%);
    border-right: rem(1) solid $accent-green;
  }
}

.cta__info hr{
  margin: 0;
  margin-top: rem(6);
  background-color: $accent-green;

  @include mq(md){
    margin-top: rem(10);
  }
}

.cta__logo {
  max-width: rem(174);
  margin-inline: auto;

  @include mq(md){
    max-width: rem(200);
  }
}

.cta__info-flex {
  margin-top: rem(15);

  @include mq(md){
    margin-top: rem(24);
    display: flex;
    column-gap: rem(21);
  }
}

.cta__info-detail {
  line-height: 1.7;

  @include mq(md){
    // width: calc(146 / 440 * 100%);
    // max-width: 100%;
    width: fit-content; //画面幅が狭くなっても段落ちさせないように
    max-width: rem(146);
    text-align: left;
  }
}

.cta__info-detail span{
  display: inline-block;
}

.cta__info-map {
  margin-top: rem(15);
  aspect-ratio: 295 / 160;

  @include mq(md){
    margin-top: 0;
    // width: calc(272 / 440 * 100%);
    // max-width: 100%;
    max-width: rem(273);
    flex: 1; //テキスト幅の残りを画像に
    aspect-ratio: 273 / 148;
  }
}

.cta__info-map iframe {
  display: block;
  aspect-ratio: 295 / 160;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include mq(md){
    aspect-ratio: 273 / 148;
  }
}

.cta__link {
  margin-top: rem(41);
  padding: 0 rem(15);

  @include mq(md){
    margin-top: 0;
    padding: 0;
    padding-left: calc(81 / 1080 * 100%);
    padding-right: calc(112 / 1080 * 100%);
  }
}

.cta__text {
  margin-top: rem(8);
  font-size: rem(14);
  color: $accent-green;
  @include line-height(18,14);

  @include mq(md){
    margin-top: rem(11);
  };
}

.cta__btn {
  margin-top: rem(39);
}
