@use "global" as *;
/* ----- 送信ボタン ----- */
.submit-btn{
  width: rem(202);
  max-width: 100%;
  display: inline-block; //blockではなくinline-blockの方が親要素で中央揃えなどの指定ができる

  padding: rem(15) rem(16);
  border: rem(1) solid $accent-green;
  background: $accent-green;
  position: relative;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  box-shadow: #fff rem(4) rem(4) 0 0, $accent-green rem(4) rem(4) 0 rem(1);
  cursor: pointer;
}

.submit-btn__input{
  color: $white;
  font-size: rem(14);
  font-family: $english-font-family;
  @include line-height(22,14);
  text-align: center;
  text-transform: capitalize;
  padding-right: rem(40);
  margin-right: rem(16);
}

.submit-btn span{
  position: relative;
  display: block;
}

//矢印
.submit-btn span::before, .submit-btn span::after{
  content: "";
  position: absolute;
}

.submit-btn span::before {
  width: rem(10);
  height: rem(10);
  right: rem(41);
  top: 50%;
  transform: translateY(-40%) rotate(45deg);
  border-top: rem(1) solid $white;
}

.submit-btn span::after {
  width: rem(40);
  height: rem(1);
  right: rem(40);
  top: 53%;
  transform: translateY(-40%);
  background: $white;
}

//ホバースライド後
.submit-btn::after{
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .3s cubic-bezier(0.45, 0, 0.55, 1); //https://easings.net/ja#easeInOutQuad
  z-index: -1;
}

//ボタンホバー・アクティブ処理(hover使用可否で切替)
@media (hover: hover) {
  // hoverが使える端末 PC想定
  .submit-btn:hover .submit-btn__input {
    color: $accent-green;
  }
  .submit-btn:hover span::before{
    border-top: rem(1) solid $accent-green;
  }
  .submit-btn:hover span::after{
    background: $accent-green;
  }
  .submit-btn:hover::after{
    transform: scale(1, 1);
  }

  // ボタンクリック時(押したことが分かりやすいように)
  .submit-btn:active{
    transform: translate(rem(4), rem(4));
    box-shadow: none;
  }
}
@media (hover: none) {
  // hoverが使えない端末 スマホ・タブレット想定
  .submit-btn:active {
    transform: translate(rem(4), rem(4));
    box-shadow: none;
  }
}